* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: #aba9c2;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
}

#img1 {
    background-image: url(images/background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    z-index: -1;
}

#totalArea {
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-areas: "leftSide gameBoard"
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #f3f725;
}

#leftSide {
    grid-area: leftSide;
    margin: auto;
}

#hashtag {
    font-family: 'Bruno Ace', cursive;
    font-weight: 600;
    font-size: 50px;
    color: #aba9c2;
}

#gameInfos {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    background-color: #1F2140;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    width: 340px;
    margin: 20px auto 30px auto;
    padding: 15px;
    display: grid;
    grid-template-areas: "item1 item1 item1 item3"
    "item2 item2 item2 item3"
    "item4 item4 item4 item4";
}

#gameInfos input {
    font-size: 15px;
    background-color: #1F2140;
    color: #aba9c2;
    border: 1px solid #aba9c2;
    border-radius: 6px;
    padding-left: 5px;
    margin-left: 5px;
    width: 160px;
    height: 25px;
}

textarea:focus, input:focus {
    outline: none;
}

#gameInfos ::-webkit-input-placeholder {
    color: #aba9c2;
}

#gameInfos button {
    margin-top: 2px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    cursor: pointer;
    background-color: #1F2140;
    color: #f3f725;
    border: 1px solid #f3f725;
    border-radius: 7px;
    padding: 17px 0px;
    width: 110px;
    transition: 0.3s;
    font-weight: bold;
}

#gameInfos button:hover {
    box-shadow: 2px 2px 2px #f4f7255d;
    text-shadow: 3px 3px 10px #f4f725;
}

#player1div {
    grid-area: item1;
    font-weight: bold;
    margin: 2px;
    font-family: 'Nunito', sans-serif;
}

#player2div {
    grid-area: item2;
    font-weight: bold;
    margin: 2px;
    font-family: 'Nunito', sans-serif;
}

#startButtonDiv {
    grid-area: item3;
}

#gameInfosDiv{
    grid-area: item4;
    margin: 3% 0% -1%;
    font-size: medium;
}

#startP {
    display: block;
}

#turnPlayerP {
    display: none;
}

#turnPlayerSpan {
    font-weight: bold;
}

#scoreTableDiv {
    background-color: #1F2140;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    width: 100%;
    margin: 0px auto 35px auto;
    padding: 15px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    z-index: -1;
    transition: 0.3s;
}

@keyframes showHideScoreArrowAnimation {
    50% { transform: translateY(3px);}
}

#showHideScore {
    display: none;
    font-weight: bold;
}

#hideScoreArrow {
    display: none;
    font-size: 200%;
    margin-top: -10px;
    animation-name: showHideScoreArrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#showScoreArrow {
    margin-top: -3px;
    margin-bottom: -15px;
    font-size: 200%;
    animation-name: showHideScoreArrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#showHideScoreLink {
    cursor: pointer;
}

#scoreTable {
    width: 100%;
    border-collapse: collapse;
}

#scoreTable td{
    padding: 2px 0px;
    width: 100%;
}
#scoreTable th {
    padding: 7px 0px;
}

#scoreTable tr:hover {
    background-color: #272a50;
}

.leftDataTable {
    text-align: left;
}

.rightDataTable {
    text-align: center;
    color: #f4f725;
    font-weight: bold;
}

#gameBoard {
    grid-area: gameBoard;
    background-color: #f3f725;
    display: grid;
    grid-template-columns: 99px 99px 99px;
    grid-template-rows: 99px 99px 99px;
    gap: 7px;
    margin: auto;
    border: 15px solid #1F2140;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
    transition: 0.3s;
}

#gameBoard span {
    margin-left: -1px;
    margin-top: -1px;
    background-color: #1F2140;
    font-family: 'Nunito', sans-serif;
    font-size:85px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win {
    color: #f3f725;
}

footer {
    padding: 25px;
    width: 100vw;
    height: fit-content;
}

footer a {
    transition: 0.3s;
    text-decoration: none;
    color: #f3f725;
    font-weight: bold;
}

footer a:hover {
    text-shadow: 1px 1px 1px #f3f725;
}

@media (max-width: 850px) and (orientation: portrait) {
    #totalArea {
        grid-template-areas: "leftSide"
        "gameBoard";
    }

    #scoreTableDiv {
        margin-top: -37px;
        width: 140px;
        padding-bottom: 0px;
    }

    #showHideScore {
        display: block;
    }

    #scoreTable {
        display: none;
        margin-top: 25px;
        width: 100%;
        border-collapse: collapse;
    }
}

@media (max-width: 850px) and (orientation: landscape) {
    #totalArea {
        grid-template-areas: "leftSide gameBoard";
    }
    
    h1 {
        font-size: 35px;
    }
    
    #hashtag {
        font-size: 35px;
    }
    
    #gameInfos {
        font-size: 15px;
        width: 280px;
    }
    
    #gameInfos input {
        font-size: 13px;
        padding-left: 5px;
        margin-left: 5px;
        width: 130px;
        height: 23px;
    }
    
    #gameInfos button {
        margin-top: 2px;
        font-size: 13px;
        padding: 16px 0px;
        width: 80px;
    }

    #startP {
        font-size: 13px;
    }

    #scoreTableDiv {
        width: 280px;
    }
    
    #scoreTable {
        font-size: 13px;
    }
    
    #gameBoard {
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: 75px 75px 75px;
        gap: 5px;
    }
    
    #gameBoard span {
        font-size:55px;
    }

    footer {
        font-size: 80%;
    }
}